@model string

@{
    ViewBag.Title = "Admin";
    Layout = "_AdminLayout";
}
<div class="content-header">
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">

            <h2>Wellcome @Model</h2>
           </div> 
    </div>
</div>
</div>
