@model CreateProductDto

@{
    ViewBag.Title = "Save";
    Layout = "_AdminLayout";
}


<div class="content-header">
    <div class="container-fluid">
        <h2>Thông tin sản phẩm</h2>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Save" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Amount" class="control-label">Số lượng</label>
                                    <input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label">Giá</label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Thể loại</label>
                                    <select class="form-control form-control-md" asp-for="CategoryId">
                                        @foreach (var item in Model.Categories)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nhà sản xuất</label>
                                    <select class="form-control form-control-md" asp-for="NsxId">
                                        @foreach (var item in Model.Nsxes)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label asp-for="Desc" class="control-label">Mô tả</label>
                                    
                            <textarea id="ckeditor" asp-for="Desc" class="form-control"></textarea>
                            
                        </div>
                        <div class="form-group">


                            <img src="~/img/@(Model.Avatar)" width="200px" height="200px" id="blah"/>
                            <p>Path:@Model.Avatar</p>


                            <label asp-for="AvataPath" class="control-sm-2">Hình ảnh</label>
                            <input asp-for="AvataPath" class="form-control-file" type="file" required id="imgInp"/>


                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="submit" value="Lưu" class="btn btn-primary btn-block" />
                            </div>
                            <div class="form-group col-md-2">
                                <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Trở về</a>
                            </div>
                            <div class="form-group col-md-8"></div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
    $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
    }
    }

    $("#imgInp").change(function() {
    readURL(this);
    });
    </script>
    
    <script>
        $(document).ready(function() {
            CKEDITOR.replace("ckeditor", {customConfig:"/lib/ckeditor/config.js"});
        })
    </script>
    @* <script type="text/javascript">
        $(function() {
            $('#ckeditor').ckeditor({
                toolbar: 'Full',
                //enterMode : CKEDITOR.ENTER_BR,
                shiftEnterMode: CKEDITOR.ENTER_P,
                shiftEnterMode : CKEDITOR.ENTER_BR,
                autoParagraph = false;
            });
        });
    </script> *@

}